@charset "utf-8";
/* Documento CSS */


body
{
	background-color:#7d2181 ;
	
}


#TituloPrincipal
{
	background-color: gray;
}

#NavegacionPrincipal
{
	background-color: red;

}

#BarraLateral
{
	background-color:#49F399 ;
	float:left;
	height: 1020px;
}

#ContenidoPrincipal
{
	background-color: #C5CA1D;  
	margin-left: 200px;
	padding-left: 15px;
	padding-top: 15px;
}

#PiePrincipal
{
	background-color: blue;
	clear:both;
	margin-top: 20px;
}

li
{
	background-color: yellow;
	display: inline;
}

