@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

body
{
	background-color: #2E2E2E;
}

#Titulo
{
	color:white; /* color de la letra */
	text-align: center; /* alineacion del texto */
	font: bold 32px QuickSand; /* Letra. Parametros: Negrita/Subrayado/Tachado tamaño fuente*/
	font-weight: 700;
	text-shadow: #FF3ED4 3px 3px; /* Sombra del texto del box. Parametros: color distancia-abajo distancia-derecha*/
	-webkit-text-stroke: 1px #FF3ED4; /* Colorea el borde de la letra. Parametros: tamaño-borde color*/
	-ms-text-stroke: 1px #FF3ED4;
	-o-text-stroke: 1px #FF3ED4;
	-moz-text-stroke: 1px #FF3ED4;
	background: -webkit-linear-gradient(top , #740068, #C005A8); /* Realiza un degradado dentro de la box que contiene al texto. Parametros direccion-degradado color-de-arranque color-de-finalizacion*/
	box-shadow:#AA5AA5 5px 5px 2px; /*Sombra del box que contiene el texto. Parametros: color dist-hacia-abajo dist-hacia-der difuminacion*/
	margin: auto; /* Margen desde el principio de la pagina (de arriba hacia abajo) hasta la box que contiene la letra*/
	padding: 4px; /* Margen entre el texto y la box contenedora del mismo */
	border:3px solid #FF3ED4; /*Borde del box contenedor del texto. Parametros: tamaño transparencia color*/
	border-radius: 15px 15px 15px 15px; /* Redondeo de las puntas del box contenedor de texto. Parametros izq-top der-top der-bottom izq-bottom*/


}

#Subtitulo
{
	color: white;
	font: bold 16px QuickSand;


}

section
{
	width: 95%;
	border-top: 2px dashed #B3B3B3;
	border-bottom: 2px dashed #B3B3B3;
	margin:auto;
	/*
	padding: auto;
	border-radius: 10px 10px 10px 10px;
	display:inline;
	*/
}

figure
{
	float:left;
}

figure img 
{
	padding: 4px;
	background: #FF3ED4;
	border-radius: 10px 10px 10px 10px;
	box-shadow: #C005A8 0px 0px 24px; 
	-webkit-transition: 0.95s;
}

figure img:hover
{
	-webkit-transform:scale(1.25);
}

#Descripcion_Img
{
	color:white;
	font:12px Lovelyn;
	text-align: center;
	margin-top:5px;
	
}